@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--bg-color: #212529;
	--txt-white: #dddddd;
	--txt-primary: #40E0D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(7.900000095367432px);
}
li{
  list-style: none;
}
a{
  color:var(--txt-white);
  text-decoration: none;
}
a.navbar-brand {
  color: var(--txt-white);;
  font-size: 30px;
}
a.navbar-brand:hover{
  color: #dddddd;
}
a.nav-link {
  font-size: 18px;
  color: var(--txt-white);;
  text-decoration: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show ,.navbar-nav .nav-link:hover{
  color: #dddddd;
}
.navbar-brand:focus, .nav-link:focus{
    color:#dddddd !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #dddddd !important;
}
#home{
  background-image: url('./back_banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}
#about{
    height: max(450px, 100vh);
	color: #dddddd;
	background-image: url('./about.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#education{
	color: var(--txt-white);;
	background-image: url('./contact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
#project{
	color: var(--txt-white);;
	background-image: url('./contact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
	#contact-me{
		color: var(--txt-white);;
	background-image: url('./contact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
/* #home .lead{
	font-family: cursive;
} */
#home .display-4{
	/* font-family: sans-serif; */
    font-size: 50px;
    color:  var(--txt-white);;
    margin: 20px 0 10px;
}
#home .bttn{
	border-radius: 12px;
    font-size: large;
}
#home .fa-lg {
    font-size: 40px;
  }



span.me {
	display: inline-block;
    font-size: 32px;
    font-weight: 600;
    /* font-family: cursive; */
	color: var(--txt-white);
	margin-bottom: 20px;
}
p.email{
	font-size: 22px;
    font-weight: 400;
    /* font-family: monospace; */
}
p.email a{
	color: var(--txt-white);
	text-decoration: none;
}
.about-content{
	/* font-family: cursive; */
    font-size: 18px;
}
#contact-me{
	border-bottom: 2px solid #121212;
}
#contact-me p{
	color:  var(--txt-white);
	font-size: 18px;
	margin-bottom: 5px;
}
#contact-me a{
	text-decoration: none;
    color:  var(--txt-white);;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;

}
.footer p{
  margin: 0;
}
.footer a{
  text-decoration: none;
  color: var(--txt-white);;
}
.portfolio-tags {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.portfolio-tag {
	list-style-type: none;
	font-size: 10px;
	/* font-family: 'Montserrat', sans-serif; */
	font-weight: 500;
	color: var(--txt-primary);;
	display: inline;
	border: 1px solid var(--txt-primary);;
	padding: 3px;
}
.txt-rotate > .wrap { border-right: 5px solid var(--txt-primary); }
.rotate {
    font-size: 35px;
    /* font-family: cursive; */
    color:  var(--txt-primary);;
}
@media (min-width: 768px) {
	.intro {
		height: 100%;
		padding: 0;
	}
	.intro .intro-body .brand-heading {
		font-size: 130px;
	}
	.intro .intro-body .intro-text {
		font-size: 35px;
	}
}

.mouse-warp {
	width: 28px;
	opacity: 0.5;
}

.mouse {
	width: 28px;
	height: 60px;
	border: 2px solid var(--txt-white);;
	border-radius: 14px;
}

.scroll {
	width: 5px;
	height: 5px;
	border-radius: 2px;
	background: var(--txt-white);;
	position: relative;
	left: 10px;
	-webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
	0% {
		top: 8px;
		opacity: 0;
		-webkit-transform: scaleY(1) scaleX(1);
	}
	5% {
		top: 8px;
		opacity: 0.8;
		-webkit-transform: scaleY(1.2) scaleX(1.2);
	}
	10% {
		top: 10px;
		opacity: 1;
		-webkit-transform: scaleY(1.6) scaleX(1.6);
	}
	30% {
		top: 20px;
		opacity: 1;
		-webkit-transform: scaleY(1.4) scaleX(1.4);
	}
	100% {
		top: 40px;
		opacity: 0;
		-webkit-transform: scaleY(1.2) scaleX(0.8);
	}
}
/*/ start about work experience /*/

#experience {
	margin-top: 20px;
}

#experience h2 {
	font-weight: 700;
	margin-top: 22px;
	padding-bottom: 10px;
	text-align: center;
}

.timeline-label h4 {
	margin-top: 0;
	font-size: 30px;
	color: var(--txt-primary);;
	padding: 16px 0px;
	font-weight: 700;
}

.timeline-label p {
	color:  var(--txt-white);;
	padding: 8px 0px;
	line-height: 27px;
}

.button-group-li {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.timeline-label a {
	text-decoration: none;
}

.text-timeline {
	background: var(--txt-primary);;
	color: var(--txt-white);;
	font-size: 18px;
	height: 40px;
	padding: 0 25px;
	line-height: 40px;
}

.icon-li {
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 30px;
	box-sizing: border-box;
	border: 4px solid var(--txt-primary);;
	border-left: none;
	-webkit-transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms -webkit-transform ease-in-out;
	transition: 600ms transform ease-in-out;
	transition: 600ms transform ease-in-out, 600ms -webkit-transform ease-in-out;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: left;
	transform-origin: left;
	color: var(--txt-primary);;
	background: var(--txt-white);;
	text-align: center;
}

.button-group-li:hover .icon-li {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.button-group-li {
	-webkit-perspective: 200px;
	perspective: 200px;
	-webkit-perspective-origin: calc(100% - 40px);
	perspective-origin: calc(100% - 40px);
}

.timeline-label {
	padding-left: 7%;
	margin-top: 2%;
}


.timeline .timeline-experience {
	position: relative;
	float: left;
	margin-left: 32px;
	padding-left: 64px;
	border-left: 2px solid  var(--txt-primary);;
}

.timeline .timeline-experience-info h5 {
	margin-top: 0;
	margin-bottom: 0.666em;
	color: var(--txt-primary);;
	font-weight: 700;
}

.timeline .timeline-experience-info .timeline-role {
	font-size: 15px;
	color:  var(--txt-primary);;
	font-weight: 500;
}
.timeline time {
	display: block;
	width: 65px;
	color:  var(--txt-primary);;
	text-align: center;
	font-weight: 700;
}
.timeline .timeline-experience-info,
.timeline .timeline-experience-info h5,
.timeline .timeline-experience-info .role,
.timeline .timeline-experience-info p {
	clear: none;
}

.timeline .timeline-experience .timeline-circle {
	position: absolute;
	top: 16px;
	left: -10px;
	display: block;
	width: 19px;
	height: 19px;
	border: 3px solid  var(--txt-primary);;
	border-radius: 50%;
	background-color:  var(--txt-primary);;
}
.timeline-experience-info p {
	margin-top: 10px;
	margin-bottom: 20px;
}


/*/ end about work experience /*/
  .skills-container{
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  }
  
  .skills-title{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 10px;
  gap: 10px;
  }

  .skills-icons{
  width:50px;
  z-index:2;
  }

  .skills-img{
  width:90px;
  height:90px;
  position: relative;
  border-radius: 45px;
  background-color: #292929;
  display:flex;
  justify-content:center;
  align-items:center;
  }

  .card-text{
	margin:12px 0;
	font-size: 14px;
  }
  .card.shadow-sm {
	border: none;
    background-color: transparent;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 0px 5px #9c9c9c !important;
}
.cardbtn{
	color: #ffffff !important;
    border-color: #ffffff !important;
	font-weight: 600;
}
.cardbtn:hover{
	color: #121212 !important;
	background-color: #ffffff !important;
}


/* responsive */

@media screen and (max-width: 990px) {
	div#navbarTogglerDemo02{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		border-radius: 12px;
		right: 0;
		top: 47px;
		width: 200px;
	}
}
@media screen and (min-width: 1200px) {
     h4 {
        font-size: 1.4rem !important;
    }
}
@media screen and (max-width: 460px) {
	a.navbar-brand {
		font-size: 24px;
	}
	#home .display-4 {
		font-size: 40px;
		}
		.rotate {
			font-size: 24px;
		}
		span.me {
			font-size: 28px;
		}
		.about-content {
			font-size: 14px;
		}
		p.email {
			font-size: 14px;
		}
		.timeline .timeline-experience {
			padding-left: 40px;
		}
		.timeline .timeline-experience-info h5 {
			font-size: 16px;
		}
		.timeline .timeline-experience-info p{
			font-size: 14px;
		}
		.timeline .timeline-experience-info .timeline-role {
			font-size: 14px;
		}
	}